<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368046592663-tjhp09pgktoaq40rdrt4500qembksrcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368046592663-tjhp09pgktoaq40rdrt4500qembksrcu</string>
	<key>API_KEY</key>
	<string>AIzaSyD8_eKPPv74nuJFEs6_k29Ihwi_ohKZgOU</string>
	<key>GCM_SENDER_ID</key>
	<string>368046592663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.thanhpt.money</string>
	<key>PROJECT_ID</key>
	<string>money-92165</string>
	<key>STORAGE_BUCKET</key>
	<string>money-92165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368046592663:ios:8b210fbd0d109759838fd2</string>
</dict>
</plist>